@charset "utf8";
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    position: relative;
    display: block;
    width: 100%;
    min-width: 1180px;
    z-index: 2;
    top: 0;
    background-color: white;
}
/*
#contraOcup{
    position: relative;
    display: block;
    width: 100%;

}*/

#flut-wp{
    position: fixed;
    display: block;
    z-index: 5;
    width: 5.5%;
    box-shadow:0px 0px 8px #fff,  0px 0px 15px #37DD54;
    border-radius: 20%;
    bottom: 20px;
    right: 20px;
    animation: mymove 2s infinite;
}
@keyframes mymove {
    25% {box-shadow: 0px 0px 0px #37DD54;}
    50% {box-shadow: 0px 0px 15px #37DD54;}
}

#headerXbox{
    width: 1000px;
    margin: 0 auto;
}
#headerYbox{
    height: 120px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
#imgbox{
    position: relative;
    display: block;
    top: 50%;
    transform: translate(0,-50%);
}
#imgbox img{
    position: relative;
    display: block;
    width:180px;
    top: 50%;
    transform: translate(0,-50%);
}
#laingNav{
    position: relative;
}

#laingNav, #imgbox{
    flex: 1 1 1;
    justify-content: space-between;    
}
#cxnav{
    display: flex;
    position: relative;
    height: 50px;
    top: 50%;
    transform: translate(0,-50%);
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}
#laingNav img{
    width: 40px;
    border-radius: 5px;
}

#divIcons{
    flex: 1 1 1 ;
    position: relative;
    justify-content: flex-end;
    margin: 15px;
    
}
#divIcons h3{
    color: #373435;
}

#capaPinc{
    position: relative;
    display: block;
    background-color:#373435;
    color: #727473;
    width: 100%;
    min-width: 1180px;
    padding: 25px 0;
}

#borderbb{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 422px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid rgb(90, 90, 90);
}

#centerTitle{
    position: relative;
    display: block;
    width: 300px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    margin: 0 auto;
    text-align: center;
    padding: 60px;
    border: 1px solid rebeccapurple;
    background-color: #fff;
    border: 2px solid rgb(90, 90, 90);
}
/*
#centerTitle span{
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    color: transparent;
    display: block;
    width: 95%;
    height: 95%;
    background-color: transparent;
    border: 1px solid #373435;
    top: 50%;
}*/
#centerTitle h1{
    font-size: 2.8rem;
    font-weight: 100;
}
#centerTitle h3{
    margin-top: 10px;
    font-size: .9rem;
    font-weight: 100;
    text-transform: uppercase;
}
#centerTitle button{
    background-color:#07773D;
    font-size: 1.06rem;
    font-weight: bolder;
    padding: 13px 40px;
    border-radius: 50px;
    border: none;
    color: white;
    margin: 20px auto 0 auto;
    cursor: pointer;
    z-index: 10;
}
#centerTitle button:hover{
    background-color: #05af57;
}
main{
    position: relative;
    display: block;
}
article{
    background-color: #ffffff;
    width: 1000px;
    margin: 0 auto;
    padding: 70px;
}

#aling-y-x-geral{
    display: flex;
}
article h2{
    font-size: 2.8rem;
    font-weight: 700;
    color: #585a4b;
    text-shadow: 0px 0px 3.5px #fff, 0px 0px 4px rgba(146, 146, 146, 0.849);
    margin: 0 0 20px auto;
}
article img{
    width: 38%;
    height: 25%;
    border-radius: 20px;
    box-shadow: 10px 10px #585a4b;
}
article p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    color: #373435;
    padding: 10px 30px 10px 0;
    letter-spacing: 0.019rem;
}
button{
    
    background-color:#07773D;
    font-size: 1.06rem;
    font-weight: bolder;
    padding: 13px 40px;
    border-radius: 50px;
    border: none;
    color: white;
    margin: 30px auto 0 auto;
    cursor: pointer;
}
button:hover{
    background-color: #05af57;
}

footer{
    background-color: #373435;
    position: relative;
    display: block;
    width: 100%;
    padding: 40px 0;
    color: rgb(240, 240, 240);
    text-align: center;
    font-weight: 100 !important;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif !important;
    min-width: 1180px;  
}
#cursor-ativ{
    cursor: pointer;
}

